body{
	margin: 0px;
	font-family: "Roboto" , serif;
}
#header{
	background: black;
	color:white;
	margin:0px;
}
#logo{
	color:#ff9845;
	margin: 0px;
}

#menu li{
	display: inline-block;
	background: #ff9845; 
	font-size: 19px;
	margin-bottom: 0px;
	padding : 4px;
	color:white;
}
#menu li:hover{
	background: white;
	color:black;
}

#menu li a{
	color:inherit;
	text-decoration: none;
}

#footer{
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
}


.products .prod
{
	border: 1px solid #d0d0d0;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding : 20px;
	border-radius: 30px;
}

.products .prod .prod-details
{
	display: inline-block;
	vertical-align: top;
}
.products .prod .prod-img 
{
	width: 150px;
}

.products .prod .prod-details .prod-price
{
	color:#c45800;
	font-weight: bold;
}
.products .prod .prod-details .prod-title
{
	color:#ff9845;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.products .prod .prod-details .prod-summary
{
	padding-bottom : 10px;
}

.big-title
{
	background: #ff9845;
	padding : 10px;
	color:white;
}